.login-form-page {
    background-image: linear-gradient(176deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/src/assets/bg.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* margin: 0 0 20px 0; */
}

a {
    text-decoration: none;
}

.login-form-page a:nth-child(1) {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #0D9068;
    white-space: nowrap;
}

.login-form-page .login-button,
.register-link-btn,
.register-link-btn:hover {
    width: 160px;
    height: 45px;
    background-color: transparent;
    border: 1.3px solid #FFFFFF;
    border-radius: 55px;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;

    color: #FFFFFF;
}

.login-form-page .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.login-page .form {
    width: 500px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 55px #000000;
    border-radius: 15px;
    padding: 20px 0;
}

.login-page h1 {
    font-weight: 600;
    font-size: 40px;
    color: #000000;
}

.login-page p {
    font-weight: 400;
    font-size: 15px;
    color: #444444;
    white-space: nowrap;
}

.login-page input.email-input {
    width: 400px;
    border: 1px solid #444444;
    border-radius: 8px;
    padding: 10px;
    margin: 3px 2px;
}

.login-page .password {
    width: 400px;
    border: 1px solid #444444;
    border-radius: 8px;
    padding: 2px 10px;
    margin: 3px 2px;
}

.password input,
.password input:hover,
.password input:focus {
    outline: none;
    border: none;
    background-color: transparent;

}

.password input[type=text]:enabled {
    background: transparent;
}

.password input[type=text]:disabled {
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.login-page input.email-input:hover,
input.email-input:focus {
    outline: 1px solid #FB9129;
    border: 1px solid #FB9129;
}



.login-page input[type=checkbox]:hover {
    border: none;
    outline: none;
}

.login-page input[type=checkbox] {
    width: 18px;
    height: 18px;
    accent-color: #FB9129;
    color: #fff;

}

.login-page input[type=checkbox]::after {
    content: "";
    color: #FFFFFF;
}

.form .login-button,
.form .login-button:hover {
    background: #0D9068;
    color: #FFFFFF;
}

.otp-input {
    white-space: nowrap;
}

.login-page .otp-input input {
    width: 50px;
    height: 50px;
    background: #EFEFEF;
    border: 1px solid #A19E9E;
    border-radius: 10px;
    border: 0.5px solid #ADADAD;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    margin: 0.5rem
}

.login-page .otp-input input::-webkit-outer-spin-button,
.login-page .otp-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p.create {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.login-page .btn.profile-saved {
    width: 400px;
    /* height: 45px; */
    background: #444444;
    border-radius: 4px;
    color: #FFFFFF;
}

.login-page .btn.profile-saved p {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 10px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 769px) {
    .login-page h1 {
        font-size: 24px;
        text-align: center;

    }
}

@media screen and (max-width: 600px) {
    .login-page .form {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .login-page input.email-input,.admin-form .login-form input.email-input, 
    .login-page .password {
        width: 320px;
    }

    .login-form-page span {
        display: none;
    }

    .form .login-button,
    .form .login-button:hover {
        margin: 0 auto !important;
    }

    .login-page .otp-input input {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
}

@media screen and (max-width: 426px) {
.login-page{
    padding: 10px !important;
}
    .login-page input.email-input, .admin-form .login-form input.email-input, 
    .login-page .password {
        width: 250px;
    }

    .login-page h1 {
        font-size: 20px;
    }

    .login-form-page form {
        margin: 20px 0 !important;
    }

    .login-form-page .login-button,
    .register-link-btn,
    .register-link-btn:hover {
        width: 110px;
        padding: 8px 10px;
        height: fit-content;
        font-size: 16px;


    }

    .form .login-button,
    .form .login-button:hover {
        margin-top: 15px !important;
    }

    .login-page .form {
        font-size: 14px;
        white-space: normal;
        padding: 1rem 0.5rem !important;

    }

    .login-page .otp-input input {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .login-page p {
        font-size: 14px;
        white-space: normal;
    }
}

@media screen and (max-width: 376px) {
    .login-page .otp-input input {
        width: 35px;
        height: 35px;
        margin: 0.4rem;
    }
    .login-page h1 {
        font-size: 16px;
    }
    .login-form-page a:nth-child(1) {
        font-size: 14px;
    }
    .login-form-page .login-button, .register-link-btn, .register-link-btn:hover {
        width: 100px;
        font-size: 14px;
    }
}

@media screen and (max-width: 321px) {
    .login-page .otp-input input {
        width: 35px;
        height: 30px;
        margin: 0.25rem;
    }
}