.header-section {
    box-shadow: 0px 4px 15px 0px #0000000D;
   
    position: fixed;
    top: 0;
    z-index: 500;
    background-color: #FFFFFF;
}

.header-components {
    padding: 10px 50px;
}

.header-components img {
    width: 50px;
}

.header-components h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin: 0 5px;
}

.header-components .header-buttons span {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0 8px;
}

.header-buttons .btn {
    width: 150px;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    border: 2px solid #0D9068;
    border-radius: 55px;
    color: #0D9068;
    /* outline: none; */
}

.header-buttons .btn:focus {
    color: #0D9068;
}


.login-form {
    width: 590px;
    height: fit-content;
    border-radius: 15px;
    background: #0D9068;
    color: #FFFFFF;
    line-height: normal;

}

.register-form {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 4px 75px 0px #00000017;


}

.login-form h1,
.register-form h1 {
    font-size: 40px;
    font-weight: lighter;
}

.login-form p,
.register-form p {
    width: 700px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}


.login-form p a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;

}

.form-group {
    padding: 10px;
    border-radius: 8px;

}

.login-form .form-group {
    border: 1px solid #ffffff;
}

.register-form .form-group {
    border: 1px solid #444444
}

.form-group:hover {
    border: 1px solid #FB9129;
}

.form-group input,
.form-group input:hover,
.form-group input:focus,
.form-group select,
.form-group select:hover,
.form-group select:focus {
    width: 300px;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;


}

.form-group input::placeholder,
.form-group input,
.register-form select,
.register-form select option,
.form-group select option:first-child {
    font-size: 14px;
    font-weight: 400;
    color: #444444;

}

input:-internal-autofill-selected {
    background-color: rgba(0, 0, 0, 0) !important;
    /* Add any other desired styles */
}


.form-group input::-webkit-outer-spin-button,
.form-group input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group select {
    appearance: none;
    background-image: url('../../assets/outline-arrow.png');
    background-repeat: no-repeat, repeat;
    background-position: right center;
    background-size: 1em auto, 100%;


}

.login-btn,
.login-btn:hover {
    width: 200px;
    padding: 5px 0;
    border-radius: 55px;
    background-color: #FB9129;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.register-form .login-btn{
    width: 250px;
    background-color: #0D9068;
}