.onboarding-form-input input,
.onboarding-form-input select {
    width: 350px;
    height: 50px;
    margin: 10px auto;
    padding: 8px;
    border: 1px solid #444444;
    border-radius: 4px;
    color: #444444;
    font-size: 15px;
}

.onboarding-form-input input::placeholder,
.onboarding-form-input select option {
    font-weight: 400;
    font-size: 16px;
    /* color: #444444; */
}
.onboarding-form-input select{
    color: #727070;
   
}

.onboarding-form-input input:focus,
.onboarding-form-input select:focus,.dashboard-form-input input:focus,
.dashboard-form-input select:focus{
    outline: none;

}
.onboarding-form-input input::-webkit-outer-spin-button,
.onboarding-form-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding-form-input select, .dashboard-form-input select {
    appearance: none;
    background-image: url('../../assets/outline-arrow.png');
    background-repeat: no-repeat, repeat;
    background-position: right 1em top 50%, 0 0;
    background-size: 1em auto, 100%;


}
.dashboard-form-input select {
    background-image: url('../../assets/filled-arrow.png');
}
/* .loan-form .card input::placeholder {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #E98923
} */

/* loan-form input,
.loan-form input:hover,
.loan-form input:focus {

    width: auto;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 25px;
    color: #E98923;
    background-color: transparent;
}. */


.dashboard-form-input input,
.dashboard-form-input select,
.dashboard-form-input input:hover {
    height: 60px;
    width: 365px;
    border: 1px solid #909090;
    border-radius: 6px;
    margin: 15px;
    padding: 10px;
    color: #444444;
    font-size: 15px;
}

.dashboard-form-input input::placeholder,
.dashboard-form-input select option {
    font-size: 14px;
    color: #444444;
}

.dashboard-form-input input::-webkit-outer-spin-button,
.dashboard-form-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.display-amount-input .card {
    width: 250px;
    background: rgba(13, 144, 104, 0.25);
    border-radius: 12px;
    margin: auto 8px;
    padding: 5px;
}
.display-amount-input input,
.display-amount-input input:hover,
.display-amount-input input:focus {

    width: auto;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 25px;
    color: #E98923;
    background-color: transparent;
}

.display-amount-input .card p {
    font-size: 20px;
    text-align: center;

    color: #444444;
}

.display-amount-input input::placeholder {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #E98923
}

.display-amount-input input::-webkit-outer-spin-button,
.display-amount-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.display-amount-input .eye-icon {
    width: 25px;
    height: 25px;
    margin-right: 50px;
}
.display-amount-input .card p:last-child {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #444444;
}