@font-face {
  font-family: "MillikFont";
  src: local("MillikFont"),
    url("./fonts/Millik.ttf") format("truetype");
}
:root {
  --paragraph-font-family: 'Poppins', sans-serif;
  --headings-font-family: MillikFont;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  /* overflow-x: hidden; */
  font-family: var(--paragraph-font-family);
  background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--headings-font-family);
}