.withdrawal-form{
    flex: 8;
}

.withdrawal-form h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    color: #0D9068;
}

/* .withdrawal-form .card {
    width: 250px;
    background: rgba(13, 144, 104, 0.25);
    border-radius: 12px;
    margin: auto 8px;
    padding: 5px;
} */

.withdrawal-form input,
.withdrawal-form input:hover {

    width: auto;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 25px;
    color: #E98923;
    background-color: transparent;
}

.withdrawal-form input:focus, .withdrawal-input-form select:focus {
    outline: none;
}

/* .withdrawal-form .card p {
    font-size: 20px;
    text-align: center;

    color: #444444;
} */



/* .withdrawal-form .eye-icon {
    width: 25px;
    height: 25px;
    margin-right: 50px;
} */

.withdrawal-form .card p:last-child {
    /* font-weight: 400; */
    /* font-size: 14px; */
    text-align: right;
    /* color: #444444; */
}

.withdrawal-form p .note{
    font-weight: 400;
font-size: 13px;
color: #444444;

}

.withdrawal-input-form input,
.withdrawal-input-form select,
.withdrawal-input-form input:hover {
    height: 60px;
    width: 365px;
    border: 1px solid #909090;
    border-radius: 6px;
    margin: 15px;
    padding: 10px;
    color: #444444;
    font-weight: 400;
font-size: 14px;
opacity: 0.7;
}

.withdrawal-input-form input::placeholder,
.withdrawal-input-form select option {
    font-size: 14px;
    color: #444444;
}
.withdrawal-input-form select {
    padding-right: 60px ;
    text-overflow: ellipsis;
    appearance: none;
    background-image: url('../../../../assets/filled-arrow.png');
    background-repeat: no-repeat, repeat;
    background-position: right 1em top 50%, 0 0;
    background-size: 1em auto, 100%;
    
}

.withdrawal-input-form input::-webkit-outer-spin-button,
.withdrawal-input-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 
.withdrawal-input-form input, .withdrawal-input-form select, .withdrawal-input-form input:hover{
    height: 60px;
width: 365px;
border: 1px solid #909090;
border-radius: 6px;
margin: 15px auto;
padding: 10px;
}
.withdrawal-input-form input::placeholder, .withdrawal-input-form select option{
    font-size: 14px;
color: #444444;
}
.withdrawal-input-form input::-webkit-outer-spin-button,
.withdrawal-input-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.withdrawal-form .next-btn{
    width: 180px;
height: 45px;
background: #FB9129;
border-radius: 4px;
font-size: 20px;
color: #FFFFFF;
}






@media screen and (max-width: 1025px) {
 
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 800px) {
    .withdrawal-form{
        margin-top: 40px !important;
        padding: 0 2rem !important;
    }
    .withdrawal-input-form input, .withdrawal-input-form select, .withdrawal-input-form input:hover {
        width: 315px;
    }
}

@media screen and (max-width: 769px) {
    .withdrawal-form h1 {
        font-size: 28px;
    }
 
}

@media screen and (max-width: 600px) {
    .withdrawal-input-form input, .withdrawal-input-form select, .withdrawal-input-form input:hover {
        width: 215px;
    }
    .withdrawal-form h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 426px) {
    .withdrawal-form {
        margin-top: 30px !important;
        padding: 0 !important;
    }
    .withdrawal-input{
        flex-direction: column;
    }
    .withdrawal-form-field{
        align-items: center;
    }
    .withdrawal-input-form input, .withdrawal-input-form select, .withdrawal-input-form input:hover {
        width: 300px;
    }
    .withdrawal-form .next-btn {
       margin: 0 30px;
        width: -webkit-fill-available;
    }
    .withdrawal-form h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 376px) {}

@media screen and (max-width: 321px) {
    .withdrawal-input-form input, .withdrawal-input-form select, .withdrawal-input-form input:hover {
        width: 260px;
    }
}